{% extends "fpp_archive/base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p class="login-error">Your account doesn't have access to this page. To proceed,
please login with an account that has access.</p>
{% else %}
<p class="login-error">Please login to see this page.</p>
{% endif %}
{% endif %}
<section class="login narrow-site-width">
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
      {% csrf_token %}
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.password.label_tag }}
            {{ form.password }}
            <input class="btn" type="submit" value="login" />
            {# Assumes you setup the password_reset view in your URLconf #}
            <div class="options">
                <a href="{% url 'password_reset' %}">Lost password?</a>
                <span>Don't have an account? <a href="{% url 'courses:register' %}?next={{ next }}">Register here.</a></span>
            </div>
          <input type="hidden" name="next" value="{{ next }}" />
    </form>
</section>


{% endblock %}
