{% extends "fpp_archive/base.html" %}
{% load staticfiles %}
{% load fpp_extras %}

{% block title %}FPP Archive &ndash; Categories{% endblock %}

{% block conditional-css %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block conditional-js %}
{# Imports #}
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script>
$(function() {
    var icons = {
          header: "ui-icon-plus",
          activeHeader: "ui-icon-minus"
        };
    $( ".main-category" ).accordion({
        heightStyle: "content",
        collapsible: true,
        active: false,
        icons: icons
    });
});
</script>
{% endblock %}

{% block pre-search %}
{% endblock %}

{% block content %}
<div id="accordion-wrap" class="site-width">
    <section class="categories-content">
        <h1 class="site-width">America's Law Order</h1>
        <div class="site-width main-category">
            <h3>America's Law Order</h3>
            <div>
                <h4><a href='/results/?cat="american+history+project"'>American History Project</a></h4>
                <h4><a href='/results/?cat="media+monopoly"'>Media Monopoly</a></h4>
                <h4><a href='/results/?cat="public+policy"'>Public Policy</a></h4>
            <div>
        </div>
    </section>

    <section class="categories-content">
        <h1 class="site-width">American Instruction and Education</h1>
        <div class="site-width main-category">
            <h3>Education</h3>
            <div>
                <h4><a href='/results/?cat="education"'>Education</a></h4>
                <h4><a href='/results/?cat="darwin+and+evolution"'>Darwin-Evolution</a></h4>
                <h4><a href='/results/?cat="un+parks+%26+environmental+control"'>UN parks and environmental control</a></h4>
            </div>
            <h3>Religious systems</h3>
            <div>
                <h4><a href='/results/?cat="religious+systems"'>Religious systems</a></h4>
                <h4><a href='/results/?cat="christianity"'>Christianity</a></h4>
                <h4><a href='/results/?cat="religion"'>Religion</a></h4>
                <h4><a href='/results/?cat="lucis+trust"'>Lucis Trust</a></h4>
            </div>
        </div>
    </section>

    <section class="categories-content">
        <h1 class="site-width">National Defense</h1>
        <div class="site-width main-category">
            <h3>National Defense</h3>
            <div>
                <h4><a href='/results/?cat="u.s.+military"'>U.S Military</a></h4>
                <h4><a href='/results/?cat="war+on+terrorism"'>War on Terrorism</a></h4>
            </div>
        </div>
    </section>

    <section class="categories-content">
        <h1 class="site-width">Economic Policy</h1>
        <div class="site-width main-category">
            <h3>Economic Policy</h3>
            <div>
                <h4><a href='/results/?cat="economy"'>Economy</a></h4>
            </div>
        </div>
    </section>

    <section class="categories-content">
        <h1 class="site-width">National Defense</h1>
        <div class="site-width main-category">
            <h3>Communism and Responses</h3>
            <div>
                <h4><a href='/results/?cat="communism+and+responses"'>Communism and Responses</a></h4>
            </div>
            <h3>Globalism</h3>
            <div>
                <h4><a href='/results/?cat="globalism"'>Globalism</a></h4>
                <h4><a href='/results/?cat="free+masonry"'>Free Masonry</a></h4>
                <h4><a href='/results/?cat="skull+and+bones"'>Skull and Bones</a></h4>
            </div>
        </div>
    </section>
</div>
{% endblock %}
