{% extends "fpp_archive/base.html" %}
{% load staticfiles %}
{% block content %}
{% block conditional-js %}
{% endblock %}
    <section class="browse_subjects">
        <h1> Broswe Subjects </h1>
        <ul>
            <li><a href="#"> God And Country</a></li>
            <li><a href="#"> Communism And Responses</a></li>
            <li><a href="#"> Economy </a></li>
            <li><a href="#"> Education </a></li>
            <li><a href="#"> Globalism </a></li>
            <li><a href="#"> Media Monopoly </a></li>
            <li><a href="#"> Public Policy </a></li>
            <li><a href="#"> Religious Systems </a></li>
            <li><a href="#"> US Military</a></li>
        </ul>
    </section>
    <section class="discover">
        <ul class="grid site-width">
            <li class="wide">
                <div><p>God and Country</p></div>
                <img src="{% static 'fpp_archive/img/courses/1.jpg' %}">
            </li>
            <li class="square">
                <div><p>Globalism</p></div>
                <img src="{% static 'fpp_archive/img/courses/2.jpg' %}">
            </li>
            <li class="square">
                <div><p>Media Monopoly</p></div>
                <img src="{% static 'fpp_archive/img/courses/2.jpg' %}">
            </li>
            <li class="square">
                <div><p>Public Policy</p></div>
                <img src="{% static 'fpp_archive/img/courses/2.jpg' %}">
            </li>
            <li class="square">
                <div><p>Economy</p></div>
                <img src="{% static 'fpp_archive/img/courses/2.jpg' %}">
            </li>
            <li class="square">
                <div><p>Religious Systems</p></div>
                <img src="{% static 'fpp_archive/img/courses/2.jpg' %}">
            </li>
            <li class="wide">
                <div><p>Communism and Responses</p></div>
                <img src="{% static 'fpp_archive/img/courses/1.jpg' %}">
            </li>
            <li class="wide">
                <div><p>Education</p></div>
                <img src="{% static 'fpp_archive/img/courses/1.jpg' %}">
            </li>
            <li class="square">
                <div><p>US Military</p></div>
                <img src="{% static 'fpp_archive/img/courses/2.jpg' %}">
            </li>
        </ul>
    </section>
{% endblock %}
