{% extends "fpp_archive/base.html" %}


{% block content %}
<div class="narrow-site-width register">
    <form method="post" action="/courses/auth/register/">
        {% csrf_token %}
        {{ form }}
        <input class="btn" type="submit" value="Register" />
        <input id="id_next" type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
{% endblock %}
